[deployment-client]
# Set the phoneHome at the end of the PS engagement
# 10 minutes
# phoneHomeIntervalInSecs = 600
clientName = $HOSTNAME


[target-broker:deploymentServer]
# Change the targetUri
targetUri = {{ splunk_master }}:8089
